body {
    padding: 80px 80px 80px 80px;
    background-image: url('../media/background_library_blur.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: oldlace;*/
    color: #8A8A8A;
    font-family:'Open Sans', sans-serif;
}

img.resize {
  max-width:100%;
  /*max-height:700px;*/
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.ow {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.title {
    font-family: "Lucida Console";
}


/* === tab configs from w3schools */

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid black;
    /*#ccc;*/
    background-color: black;
    /*#f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 0px
    border-top: none;
}
